.tag-container {
	width: 100%;
}

.filter {
	width: 100%;
	display: flex;
	@include small-devices {
		flex-direction: column;
		align-items: flex-start;
	}

	&__container {
		@include x-small-devices {
			width: 100%;
		}
	}

	&__container--ingredients {}

	&__btn {
		margin: 20px 20px 0 0;
		height: 69px;
		width: 170px;
		border-radius: 5px;
		color: #fff;
		display: flex;
		align-items: center;
		padding: 0 20px;
		@include small-devices {
			margin-top: 0;
		}
		@include x-small-devices {
			width: 100%;
		}
	}

	&__btn--ingredients {
		background-color: $clr-blue;
	}

	&__input {
		background-color: inherit;
		color: inherit;
		font-weight: 700;
		font-size: 1.2em;
		width: 90%;
	}
		&__input::placeholder{
			color: inherit;
		}

	&__input--ingredients {}

	&__arrow {
		transform: rotate(180deg);
	}

	&__collapse {
		display: none;
		width: 400px;
		max-height: 330px;
		margin:-5px 20px 20px 0;
		border-radius: 0 0 5px 5px;
		overflow-y: auto;
		padding: 15px;
	}

	&__collapse--ingredients {
		background-color: $clr-blue;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 20px;
		color: #fff;
		font-size: 1.1em;
		> li {
			height: 35px;
			width: 100px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			cursor: pointer;
		}
		> li:first-letter {
			text-transform: capitalize;
		}
		>li:hover {
			font-weight: 600;
		}
	}

		&__list--ingredients {}

	&__container--appliances {}

	&__btn--appliances {
		background-color: $clr-green;
	}

	&__input--appliances {}

	&__collapse--appliances {
		background-color: $clr-green;
	}

	&__list--appliances {}

	&__container--ustensils {}

	&__btn--ustensils {
		background-color: $clr-orange;
	}

	&__input--ustensils {}

	&__collapse--ustensils {
		background-color: $clr-orange;
	}

	&__list--ustensils {}
}